@use '../utils' as *;

.hero {
  margin-bottom: 3rem;

  &__main {
    margin-bottom: 2.5rem;
    &__header {
      margin-bottom: 1rem;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__box {
      padding-block: 1rem;
      background-color: var(--bg-primary-500);
      border-radius: 0.5rem;
    }
    &__stars {
      margin-bottom: 1rem;
      & img {
        margin-inline: 0.15rem;
      }
    }
  }
}

@media (min-width: $desktop-size) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
  }

  .hero__main {
    margin: 0;
    max-width: 27.75rem;
    text-align: left;
  }

  .hero__rating {
    width: 33.75rem;
  }

  .hero__rating__box {
    padding-block: 1.25rem;
    width: 27.75rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
  }

  .hero__rating__box:nth-child(2) {
    align-self: center;
  }

  .hero__rating__box:nth-child(3) {
    align-self: flex-end;
  }

  .hero__rating__stars {
    margin: 0;
  }
}
