@use '../utils' as *;

.review {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  &__box {
    padding: 2.5rem 2rem 2.25rem;
    border-radius: 0.5rem;
    background: var(--bg-primary-600);
  }

  &__header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__photo {
    border-radius: 50%;
    width: 2.5rem;
  }

  &__person {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: $desktop-size) {
  .review {
    flex-direction: row;
    align-items: center;
    gap: 1.875rem;
    height: 16.625rem;
  }

  .review__box {
    height: 14.625rem;
  }

  .review__box:nth-child(1) {
    align-self: flex-start;
  }

  .review__box:nth-child(3) {
    align-self: flex-end;
  }
}
