:root {
  --ff-primary: ;

  --fs-300: 1rem;
  --fs-400: 1rem;
  --fs-500: 1rem;
  --fs-600: 1rem;

  --bg-primary-100: #ffffff;
  --bg-primary-500: #ffffff;

  --border-primary-500: #ffffff;

  --text-primary-100: #ffffff;
  --text-primary-500: #ffffff;
  --text-primary-600: #ffffff;
}

$tablet-size: 48em;
